@import url('https://fonts.cdnfonts.com/css/literata');

.headerBox {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: .75in;
  background-color: #0b210271;
}


.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 30%;
}

.mintButton {
  border-radius: 20px;
  font-weight: 900;
  width: 150px;
  cursor: pointer;
  background-color: #6FFF31;
  border-color: #6FFF31;
  color: #000000;
  box-shadow: 0px 5px 15px rgba(255, 229, 0, 0.6);
  transition: all 0.3s ease 0s;
  padding: .5em;
  font-family: 'Literata', sans-serif;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.headerPic{
  width: 50px;
  height: 50px;
  background-image: url(../images/logo4Head.png);
}

@media screen and (max-width: 768px) {
  .myImage{
    display: none;
  }
  .headerBox{
    justify-content: center;
    align-items: center;

  }
  .buttons{
    width: 85%;
    margin:5px;
  }
  .mintButton{
    margin-right: 5px;
  }
}
