

.page{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #0d76fc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bg2\ 1\ 2.png');
}


.container {
  width: 3in;
  height: 5in;
  border-radius: 25px;
  border: #000 2px solid;
}

.box {
  width: 100%;

  height: 100%;
  background-color: #e1ffce;
   border-radius: 25px;
  border: #000 2px solid;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}